.comment {
    margin-top: 10px;
    margin-left: calc(50% - 195px);
    width: 390px;
    min-height: 50px;
    border: 1px solid gray;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(237, 237, 237);
    box-shadow: 0px 10px 16px 2px gray;

}

.comment-autor {
    width: 40px;
    height: 40px;
    border: 2px solid gray;
    border-radius: 50%;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.comment-body {
    width: 334px;
    min-height: 40px;
    /* border: 1px solid gray; */
    border-radius: 3px 20px 20px 3px;
    padding: 5px;
}
.comment-autor-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.comment-autor-avatar-unknown {
    width: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
}

.comment-autor-name {
    font-size: 10px;
    text-align: center;
    color: rgb(91, 91, 91);
    border-bottom: 1px solid rgba(219, 218, 218, 0.784);
}

.comment-text {
    margin: 0px;
    font-size: 12px;
    overflow-wrap: break-word;
}

